{% extends 'layout.html' %}

{% block head %}
		<style>
			.button {
			    background-color: #4CAF50;
			    border: none;
			    color: white;
			    padding: 15px 32px;
			    text-align: center;
			    text-decoration: none;
			    display: inline-block;
			    font-size: 16px;
			    margin: 4px 2px;
			    cursor: pointer;
			    position: relative;
			    left: 500px;
			    border-radius: 5px;
			}

			.button:hover{
				opacity: .8;
			}
		</style>				
{% endblock %}


{% block body %}
<div class="jumbotron text-center">
{% if ml_won == 0 %}
<h1>Congratulations! You just beat our ML model!</h1>
{% elif ml_won == 1 %}
<h1>Sorry, you've lost to our ML model! Try Again!</h1>
{% else %}
<h1>Well done! You are as good as our model!</h1>
{% endif%}
<p class="lead">This application is built on the Python Flask framework and enables users to tag materials dataset abstracts and compare against a machine learning model that uses fasttext for text classification. To play again, click Restart.</p>
</div>

<form action="/True" method=GET"">
 	<input type="submit" class="button" value="Restart">
</form>

{% endblock %}